<h2>Por Pais</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar Pais...">
        </app-pais-input>
    </div>
</div>
<div class="row">
    <ul *ngIf="mostrarSugerencias" class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let paisSugerido of paisesSugeridos">
            <a [routerLink]="['/Pais/',paisSugerido.cca2]" class="nav-link">
                {{ paisSugerido.name.common }}
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="nav-link" (click)="buscarSugerido(termino)">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    no se encontro nada con el termino {{termino}}
</div>
<div class="row">
    <div class="col">
        <app-pais-tabla *ngIf="paises.length > 0" [paises]="paises"></app-pais-tabla>
    </div>
</div>